
$primary-color: #ff8a7a;
$accent-color: #ff8575;
$secondary-color: #20C997;

$white-color:#fff;
$grey-light-color: rgb(243, 243, 243);
$grey-color: #a0a0a0;
$black-color: #111;
$mask-color: rgba(61, 61, 61, 0.63);
