
$primary-color: #ff8a7a;
$accent-color: #ff8575;
$secondary-color: #2ecc71;

$white-color:#fff;
$grey-light-color: #dbdbdb;
$grey-color: #a0a0a0;
$black-color: #111;
$mask-color: rgba(61, 61, 61, 0.63);
