@import '../../variables.scss';

.container {
  width: 100%;

  .createBtn {
    width: 150px;
    margin-bottom: 2rem;

    .plusIcon {
      position: relative;
      top: 3px;
      margin-right: 6px;
      font-size: 1rem;
    }
  }

  .sublist {
    display: flex;
    align-items: center;
    padding: .5rem;
    width: 100%;
    cursor: pointer;
    transition: $transition;

    &:hover {
      background-color: $grey-light-color;
    }

    .user_profile {
      width: 30px;
      height: 30px;
      border-radius: 3rem;
      overflow: hidden;
      margin: 0 0.5rem;
    }
  }

  .secondContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80%;
    height: 375px;

    .noMatch {
      display: flex;
      justify-content: center;
      flex-flow: column;
      align-items: center;

      img {
        width: 50%;
      }
    }

    label {
      display: flex;
      align-items: center;

      .searchIcon {
        margin-bottom: 1.5rem;
      }

      .search {
        margin-bottom: 1.5rem;
        width: 100%;
        margin-left: 11px;
      }
    }
  }
}

