@import '../../variables.scss';

.container {
  width: 100%;

  .createBtn {
    width: 150px;
    margin-bottom: 2rem;
  }

  .sublist {
    display: flex;
    align-items: center;
    padding: .5rem;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $grey-light-color;
    }

    input {
      cursor: pointer;
    }

    .user_profile {
      width: 30px;
      height: 30px;
      border-radius: 3rem;
      overflow: hidden;
      margin: 0 0.5rem;
    }
  }

  .secondContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80%;
    height: 375px;

    .noMatch {
      display: flex;
      justify-content: center;
    }
  }
}

