@import '../../variables.scss';

.video_content_box {
  display: flex;
  flex-flow: column;
  color: $black-color;
  cursor: pointer;

  .video_img {
    position: relative;
  }

  .title {
    font-weight: 700;
    margin-bottom: 10px;
  }

  .subtitle {
    color: $grey-color;
    margin: 0px;
  }
}
