@import '../../variables.scss' ;

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(224, 224, 224);
  cursor: pointer;
  padding: .8rem;
  width: 80%;

  .detail {
    display: flex;
  }
}