@import '../../variables.scss' ;

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: .8rem;
  width: 80%;
  background-color: $white-color;
  transition: all .3s ease-in-out;

  &:hover {
    color: $accent-color
  }

  .detail {
    display: flex;
  }

  .delete {
    color: $grey-mid-color;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    
    &:hover {
      color: $grey-color
    }
  }
}