.video_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem 2rem;
}

@media screen and (max-width: 1600px) {
  .video_list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1100px) {
  .video_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .video_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.loader {
  position: relative;
  width: 50px;
  left: 50%;
  margin-top: 50px;
  
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side, #ff9a8d 92%,#0000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}
@keyframes l7 {to{transform: rotate(.5turn)}}