@font-face {
  font-family: 'Kakao';
  src: url('../../public/fonts/KakaoRegular.ttf') format('truetype');

  // 폰트 기본 스타일
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Kakao';
  
  img {
    width: 100%;
  }
}

.layout {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.header {
  background: white;
  height: 3rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.content {
  flex: 1;
  display: flex;
}

.sidebar {
  background-color: white;
  width: 13rem;
}

.main {
  background-color: rgb(243, 243, 243);
  flex: 1;
  display: flex;
  flex-flow: row;
  padding: 3rem;
  margin-top: 3rem;
}