body {
  margin: 0;
  
  img {
    width: 100%;
  }
}

.layout {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.header {
  background: white;
  height: 3rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.content {
  flex: 1;
  display: flex;
}

.sidebar {
  background-color: white;
  width: 13rem;
}

.main {
  background-color: rgb(243, 243, 243);
  flex: 1;
  display: flex;
  flex-flow: row;
  padding: 3rem;
  margin-top: 3rem;
}